#map {
  width: 100%;
  height: 400px; /* Adjust the height */
  background-color: #f0f0f0; /* Optional: temporary background color to see if it's rendering */
}

.intro-header .page-heading h1 {
    font-size: 2.75rem;
}


/* dark, added */

/* Default light theme */
:root {
  --bg-color: white;
  --text-color: black;
  --link-color: blue;
  --navbar-col: #eaeaea;
  --navbar-text-col: #404040;
}

/* Dark theme */
.dark-mode {
  --bg-color: #121212;
  --text-color: #e0e0e0;
  --link-color: #bb86fc;
  --navbar-col: #121212;
  --navbar-text-col: #e0e0e0;
}

/* Apply colors */
body,footer {
  background-color: var(--bg-color);
  color: var(--text-color);
}

a {
  color: var(--link-color);
}
/* Hide the close button in InfoWindow */
.gm-style-iw-chr .google-maps .gm-style-iw-closebtn {
  display: none !important;
}
.gm-style-iw + button {display: none;}
button.gm-ui-hover-effect {
  display: none !important;
}

.custom-info-window {
	// InfoWindow has limited customization
//	max-width: 180px;
	padding: 0px;
	background: rgba(255, 255, 255, 0.9);
	border-radius: 0px;
  font-size: 12px;
  max-width: 120px;
//  padding: 2px 5px;
//  background: #fff;
  border: none;
//  border-radius: 3px;
  box-shadow: none;
 display: inline-block; /* Ensures no extra space is added */
  border: none;
  margin: 0;

}
